<!DOCTYPE html>
<html lang="en">
<style>
    html, body {
        padding: 0;
        margin: 0;
        color: wheat;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(rgb(0, 148, 245), rgb(12, 45, 85), rgb(0, 148, 245));
        padding-left: 30px;
        padding-right: 30px;
    }

    .copyright-box {
        position: absolute;
        bottom: 4px;
        right: 30px;
    }
</style>
<body>
<div class="content">
    <h1>Texas Holdem Server</h1>
    <span style="font-size: 144%; ">Unexpected error has occurred<br/></span>
    <span style="font-size: larger; ">You have to sign in using Texas Holdem application in order to access services.</span><br/>
    <a href="/">Go Home</a>
    <p></p>
    <p></p>
    <span style="font-size: larger; ">Teacher: Effi Profus the King<br/>
        Student: Haim Adrian the Carpenter</span>
    <div class="copyright-box">
        &#169; Haim Adrian, HIT, Android1 2021 &#169;
    </div>
</div>
</body>
</html>
